.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 10px 20px;
}
.price{
    color: #ff136f;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    text-align: center;
}
.cat1, .cat2, .cat3{
color: white;
padding: 20px 15px;
border-radius: 15px;
}
.cat1{
    background-color: orangered;
}
.cat2{
    background-color: #ff5898;
}
.cat3{
    background-color: aqua;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    box-shadow: 10px 10px 15px lightgray;
}
.container .bagpack{
    margin-top: 150px;
    border-radius: 15px;
}
.card-footer{
    background-color: white;
    border: none;
    text-align: center;
}
#Contactus{
    height: 240px;
}
footer{
    text-align: center;
}